* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --db-main: #000000;
    --db-footer: #222222;
}


body {
    width: 100vw;
    height: 100vh;
    background-color: var(--db-main);
}

/* #region Utilities */

.m-5{
    margin-right: 10px;
}

.m-30{
    margin: 0 30px;
}

.m-20{
    margin: 0 20px;
}


.text{
    font-size: 10px;
}

.fa-angle-up {
    font-size: 8px;
}

.green{
    color: green;
}


/* #endregion Utilities */

/* #region header */
#app-header{
    display: flex;
    justify-content: flex-end;
}

.speaker_view {
    background-color: rgba(240, 237, 233, 0.5);
    border-radius: 2px;
}

.speaker_view span{
    justify-content: flex-end;
    color: white;
}

.resize {
    background-color: rgba(2, 2, 2, 0.5);
    color: white;
    margin-right: 50px;
    margin-left: 20px;
    background-color: rgba(240, 237, 233, 0.5);
    border-radius: 2px;

}

.speaker_view span i{
    display: flex;
    justify-content: flex-end;
    color: white;
    background-color: rgba(2, 2, 2,);
}
/* #endregion header */

/* #region Main */

.container{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
    justify-content: center;
}



.container_images{
    margin: 3px 3px;
}

.card-img{
    position: relative;
    max-width: 100%;
}



.card-img span {
    position: absolute;
    bottom: 0;
    left:0;
    color: white;
    background-color: rgba(2, 2, 2, 0.5);
}   

/* #endregion Main */

/* #region Footer */

#app-footer{
    position: relative;
}

.container_footer{
    position: fixed;
    width: 100%;
    background-color: var(--db-footer);
    margin-top: 40px;
    padding-bottom: 90px;
}

.container_footer .buttons{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.buttons_left{
    padding-top: 10px;
    padding-left: 10px;
    color: white;
}

.buttons_center{
    padding-top: 10px;
    color: white;
}

.text span{
    padding-left: 15px;
}

.buttons_right{
    display: flex;
    width: 100px;
    align-items: center;
    background-color: gray;
    color: red;
}


/* #endregion Footer */






